<!DOCTYPE html>
{% extends "base.html"%}
{% block body_block %}

{% csrf_token %}
<script>	
function showBigImage(urlImage){
	$('#imagepreview').attr('src', urlImage); // here asign the image to the modal when the user click the enlarge link
	$('#imagemodal').modal();
}
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
})

var selectedProduct = {}
function getSelectedProduct(product_id, product_name){
	selectedProduct = {product_id, product_name}
}
function addSelectedProduct() {	
	const { product_id, product_name, product_available } = selectedProduct
	if(product_name.length < 2 || product_id == null || isNaN(product_id)) {
		location.reload()
		return
	}
	var product_image_file = null
	var formData = new FormData();                	
	if($("#product_image_file").prop('files') != null && $("#product_image_file").prop('files').length > 0) {
		product_image_file = $("#product_image_file").prop('files')[0]
		formData.append('product_image_file',product_image_file);
		
	}			
	formData.append('product_id', product_id)
	formData.append('product_name', product_name)
	formData.append('product_available', product_available)
	formData.append('product_image_file',product_image_file);		
	$.ajax({
		type: 'POST',
		url: '',
		// data: { product_id, product_name, formData},
		data:formData,		
		contentType: false,
		processData: false,
		success: function() {
			debugger
			console.log(`inserted product: ${product_id} to name: ${product_name}`)
			location.reload()
		},
		error: function(error) {
			debugger
			console.log('Cannot insert product'+product_name+'Error = '+error)
			location.reload()
		},
    })
}
function deleteSelectedProduct() {
	const { product_id, product_name } = selectedProduct
	debugger
	$.ajax({
		type: 'DELETE',
		url: '',
		data: { product_id, product_name },
		success: function() {
		   console.log('deleted product'+product_id)
		   location.reload()
		},
		failed: function(error) {
		   console.log('Cannot deleted product'+product_id+'Error = '+error)
		},
    })
}
function updateSelectedProduct() {
	const { product_id, product_name } = selectedProduct
	$.ajax({
		type: 'PUT',
		url: '',
		data: { product_id, product_name },
		success: function() {
		   console.log(`updated product: ${product_id} to name: ${product_name}`)
		},
		failed: function(error) {
		   console.log('Cannot update product'+product_id+'Error = '+error)
		},
    })
}
function onChangeProductName(value) {
	selectedProduct.product_name = value
}
function onChangeProductId(value) {
	selectedProduct.product_id = value
}
function onChangeProductAvailable(value) {
	selectedProduct.product_available = value
}

</script>
<script>

</script>
<div class="container">
	<div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Products</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addProductModal" class="btn btn-success" data-toggle="modal">
							<i class="material-icons">&#xE147;</i> <span>Add New Product</span>
						</a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>Id</th>
                        <th>Product's Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
					{% for product in products %}
						<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
                        <td> {{product.product_id}}</td>
                        <td>                    
                        	<img src="../static/images/{{product.get_image_name}}" 
		                        	id="imageresource"
		                        	onclick="showBigImage('../static/images/{{product.get_image_name}}');" 
		                        	style="display: inline-block;									  
		                        	height: 100px;
		                        	padding: 10px;
		                        	marker-end: 10px;" 
		                        	class="rounded float-left" alt="no image">
                        	<div style="display: inline-block;">
                        		<p class="text-left text-success">{{product.product_id}}</p>
                        		<p class="text-left text-info">{{product.product_name}}</p>
                        		<p class="text-left text-info">Available: {{product.available}}</p>
                        	</div>
                        	
                        </td>
                        <td>
                            <a href="#editProductModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteProductModal"
							   onclick="getSelectedProduct('{{product.product_id}}', '{{product.product_name}}')"
							   class="delete" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
							</a>
                        </td>
                    </tr>
					{% endfor %}
                </tbody>
            </table>
			<div class="clearfix" style="display: none;">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
</div>

<!-- Edit Modal HTML -->
<div id="addProductModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<h4 class="modal-title">Add Product</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Product's Id</label>
							<input type="text" class="form-control"
								   onchange="onChangeProductId(this.value);"
								   name ="product_id" required >
						</div>
						<div class="form-group">
							<label>Product's Name</label>
							<input type="text" class="form-control"
								   onchange="onChangeProductName(this.value);"
								   name ="product_name" required>
						</div>
						<div class="form-group">
							<label>Product's Available</label>
							<input type="text" class="form-control"
								   onchange="onChangeProductAvailable(this.value)"
								   name ="product_available" required>
						</div>						
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="file" name="myfile" id="product_image_file">
							<!-- <button type="submit">Upload</button> -->
						</form>						
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<button type="button" class="btn btn-success" onclick="addSelectedProduct()">
							{% csrf_token %}
							Add
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
<div id="editProductModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div>

					<div class="modal-header">
						<h4 class="modal-title">Edit Product</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group" style="display: none">
							<label>Product's Id</label>
							<input type="hidden" class="form-control" name ="product_id"
								   value="return selectedProduct.product_id;"required >
						</div>
						<div class="form-group">
							<label>Product's Name</label>
							<input type="text" class="form-control"
								   onchange="onChangeProductName(this.value);"
								   value="return selectedProduct.product_name;"
								   name ="product_name" required>
						</div>
						<div class="form-group">
							<label>Product's Available</label>
							<input type="text" class="form-control"
								   onchange="onChangeProductAvailable(this.value)"
								   name ="product_available" required>
						</div>						
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
<!--						<input type="submit" class="btn btn-info" value="Save">-->
						<button class="btn btn-info" onclick="updateSelectedProduct()">
							{% csrf_token %}
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
<div id="deleteProductModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div>
					{% csrf_token %}
					<div class="modal-header">
						<h4 class="modal-title">Delete Product</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="product_id" value="return selectedProduct.product_id;">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
<!--						<input type="submit" class="btn btn-danger" value="Delete">-->
						<button class="btn btn-info" onclick="deleteSelectedProduct()" data-dismiss="modal">
							{% csrf_token %}
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- Creates the bootstrap modal where the image will appear -->
	<div class="modal fade" id="imagemodal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Image preview</h4>
				</div>
				<div class="modal-body">
					<img class="img-responsive" src="" id="imagepreview" style="height:600px; ưi">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}